<h1 class="text-5xl font-bold mb-5 text-center" >Chapter {{number}}</h1>
{% for page in pages %}
    <div class="bg-gray-100 flex justify-center">
        <img 
            src="{{ page.url }}" 
            alt="Страница {{ loop.index }}"
        >
    </div>
{% endfor %}

{% if next_chapter_number %}
    <div 
        id="new-chapter-div"
        hx-get="/web/manga/{{ manga_id }}/chapters/{{ next_chapter_number }}" 
        hx-trigger="revealed" 
        hx-swap="#new-chapter-div"
        hx-target="this"
        class="w-full flex justify-center py-4 flex-row"
    >
        <span class="text-gray-500">Загрузка следующей главы...</span>
    </div>
{% else %}
    <span class="text-gray-500">Subscribe for a new chapter</span>
{% endif %}
